* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar,
.one {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar-link,
.text {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

.left-side h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.navbar .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.navbar-link {
    display: flex;
    gap: 16px;
}