* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar,
.one {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.navbar-link,
.text {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

.left-side h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 16px;
}

.navbar .container,
.one .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.navbar-link {
    display: flex;
    gap: 16px;
}

.right-side img {
    width: 600px;
    height: 250px;
    border-radius: 30px;
}

.left-side {
    width: 400px;
}

.sign-up {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    margin-top: 16px;
}

.two {
    text-align: center;
    /* padding: 32px 0 64px 0; */
}

.box img {
    width: 160px;
    height: 160px;
    border-radius: 16px;
}

.box {
    width: 160px;
}

.box-container {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
}